@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .container {
            background-color: darkgrey;
            height: 100vh;
        }

        #left {
            background-color: #1F1F1F;
            width: 60%;
            height: 100vh;
            padding: 10%;
        }

        #right {
            background-color: #909090;
            width: 40%;
            height: 100vh;
        }

        #left-2 {
            background-color: #909090;
            width: 40%;
            height: 100vh;
            padding: 10%;
        }

        #right-2 {
            background-color: #1F1F1F;
            width: 60%;
            height: 100vh;
        }

        h1 {
            /* font-family: 'Varela Round', sans-serif; */
            font-family: 'Odibee Sans', cursive;
        }

        #right img {
            position: absolute;
            bottom: 0;
            right: 29.7vw;
        }

        nav {
            position: absolute;
            display: flex;
            background-color: transparent;
            right: 0;
            height: 10vh;
            width: 100vw;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
        }

        .navbar-menu {
            display: flex;
            position: relative;
            margin-left: auto;
            flex-basis: 38.9%;
            font-size: medium;
            justify-content: space-around;
        }

        .line-nav {
            background-color: black;
            width: 2px;
            height: 24px;
            margin: auto;
        }

        nav>div {
            display: flex;
            flex-basis: 30%;
            margin-left: auto;
        }

        nav>div>p {
            color: aliceblue;
            cursor: pointer;
            margin: auto;
            font-family: 'Varela Round', sans-serif;
        }

        nav>div>p:hover {
            border-bottom: 1px solid #00CCFF;
        }

        button {
            border: 1px solid #00CCFF;
            background-color: transparent;
            color: #00CCFF;
            padding: 10px;
            border-radius: 10px;
            font-size: large;
            cursor: pointer;
        }

        button:hover {
            background-color: #00CCFF;
            color: #1F1F1F;
            padding: 12px;
            transition: 300ms;
        }

        .img-style-2{
            border-top: 5px solid #00CCFF;
            border-left: 5px solid #00CCFF;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
        }
        
        .about{
            font-size: 20vw;color: #00CCFF;position: relative;left: -9.3vw;
        }