@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    color: blue;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    width: 200px;
    text-align: left;
    padding: 20px;
}

td{
    width: 400px;
    box-sizing: border-box;
    padding: 40px;
}

table{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
    margin: 50px;
}

#profile{
    /* margin: 15px; */
    border: 1px solid red;
    width: 50%;
}
